App {
  display: flex
}

#pokemon-abilities {
  background-color: rgb(236, 108, 108);
}


.abilities {
  background-color: rgb(236, 108, 108);
}

.cardSmCont {
  width: 12rem;
  height: 12rem;
}

.set-display {
  max-width: 11rem;
  max-height: 11rem;
  height: auto;
}

.set-card {
  margin: 1px;
}

.card-image {
  max-height: 11rem;
  width: auto;
  margin-right: .25rem;
}

.effect-title {
  margin: 0px;
}

#pokemon-attacks {
  background-color: rgb(110, 199, 235);
}

#ability-effect {
  font-size: 12px;
}

#series-logo {
 max-width: 280px;
 height: auto;
}

#energy-symbol{
  height: 20px;
  width: 20px;
}

#pkm-card-details {
  font-size: .6rem;
}

.pkm-name {
  font-size: 1.5rem;
  line-height: 100%;
}

.pkm-card-detail {
  margin-bottom: 0;
  padding:0 
}