App {
  display: flex;
}

#homepage-body {
  background-color: antiquewhite;
}

#nav-container {
  background-color: rgb(44, 172, 208);
}

#pokemon-abilities {
  background-color: rgb(236, 108, 108);
}


.abilities {
  background-color: rgb(236, 108, 108);
}

.collection-link-container {
  width: 250px;
  height: auto;
  font-size: .6rem;
}
.btn > p{
  font-size: .6rem;
}


/* SEARCH SHOW LOGO HOVER EFFECT ONLY */
/* .set-card {
  width: 140px;
  height: 140px;
}
.set-logo {
  aspect-ratio: 1/1;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 150ms ease-in-out;

}

.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
} */


/* SEARCH SHOW SET CARD HOVER */
.set-card {
  width: 140px; /* Set your desired width */
  height: 140px; /* Set your desired height */
  transition: 150ms ease-in-out; /* Add transition for smooth effect */
  position: relative; /* Ensure position is relative for z-index */
}

.set-logo {
  aspect-ratio: 1/1;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-card:hover {
  transform: scale(1.05); /* Zoom in on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box-shadow on hover */
}

.card-image {
  max-height: 11rem;
  width: auto;
  margin: .25rem;
}

.effect-title {
  margin: 0px;
}

#pokemon-attacks {
  background-color: rgb(110, 199, 235);
}

#ability-effect {
  font-size: 12px;
}

#series-logo {
 max-width: 280px;
 height: auto;
}

#energy-symbol{
  height: 20px;
  width: 20px;
}

#pkm-card-details {
  font-size: .6rem;
}

.pkm-name {
  font-size: 1.5rem;
  line-height: 100%;
}

.pkm-card-detail {
  margin-bottom: 0;
  padding:0 
}